body{
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

.banner{
    background-image: url(img/banner.png);
    background-size: cover;
    color: white;
    border-top: 10px solid rgb(83, 198, 94);

    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 350px;
}

.banner > div{
    width: 400px;
}

.banner h1{
    font-family: 'Pacifico';
    font-size: 48px;
    position: relative;
    margin-top: 0;
}

.banner h1 span{
    width: 10px;
    height: 10px;
    display: block;
    background-color: rgb(83, 198, 94);
    border-radius: 100%;
    position: absolute;
    top: 44px;
    left: 135px;
}

.banner p{
    font-size: 20px;
}

.banner > img{
    width: 250px;
    align-self: flex-end;
    display: none;
}

.banner .icones img:hover{
    background-color: rgb(83, 198, 94);
}

.banner .icones img{
    width: 30px;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 100%;
}

@media(min-width: 768px){
    .banner{
        height: 38vw;
        padding: 0 100px;
    }

    .banner > img{
        display: block;
    }

}

@media(min-width: 1024px){
    .banner{
        height: 38vw;
        padding: 0 200px;
    }

    .banner > img{
        width: 350px;
        display: block;
    }
}

.icon1{
    color: gray;
    font-size: 20px;
    border-radius: 180px;
    margin-left: 200px;
    border-width: 1px;
    float: left;
}

.meio > div{
    display: flex;
    justify-content: center;
}

 .meio{
     text-align: center;
 }



 .fim > div{
    display: flex;
    justify-content: center;
}

.parte3 > div {
    height: 30px;
    border: 0;
    width: 250px;
    border-radius: 100px;
    display: none;
    background: white;
    font-size: 18px;
}


.video {
    position: relative;
}

.fim{
    background-color: rgb(190, 190, 190);
}

.pessoas > div{
    display: flex;
    justify-content: center;
}

.fim2 {
    text-align: center;
}

.iconx{
    color: gray;
    font-size: 20px;
    border-radius: 180px;
    margin-left: 50px;
    border-width: 1px;
    float: left;
}
.rodape {
    background-color: rgb(190, 190, 190);
}
 
.parte4 > div{
    float: left;
    margin: 20px;
}


